html {
  height:100%;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #dadbd9;
}

.App {
  min-width: 1280px;
  text-align: left;
  vertical-align: bottom;
  height: 100%;
  background-color: white;
}

#root {
  height: 100%;
  background-color: pink;
}
