html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: white;
}

.App {
  min-height: 720px;
  min-width: 1280px;
  text-align: left;
  vertical-align: bottom;
  height: 100%;
  background-color: white;
}

#root {
  height: 100%;
  background-color: white;
}

@import url('https://fonts.googleapis.com/css?family=Oswald');
